.pages-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container {
  padding: 0 10%;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

.box-container {
  cursor: pointer;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.5);
  background-color: #444444;
  width: 20%;
  height: 20vh;
  border-radius: 5%;
  text-align: center;
  margin-top: 1em;
  padding-top: 1em;
}

.group-buttons {
  padding: 0 1em;
}